body {
    background-color: #efefef;
    font-family: Arial;
    color: #333;
    line-height: 1.4em;
}

main {
    width: 50rem;
    margin:auto;
    background-color:#FFF;
    padding:1.25rem;
    display: flex;
    flex-direction: row-reverse;
}

aside {
    width: 15.625rem;
}

article {
    width:32.8125rem;
}

h1 {
    height: 9.375rem;
    background: url("http://placekitten.com/525/150") no-repeat;
    line-height: 150px;
    text-align: center;
    color: #fff;
}

ul {
    list-style-type: none;
}

/* ul li ul li{
    display: none;
} */

.hide-menu {
    display: none;
}

.show-menu {
    display: block;
}