
:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

html{
    color-scheme: dark;
}



body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center; 
    min-block-size: 100vh;
    background-color:var(--clr-primary-800);
}

.scroller {
    max-width: 600px;  
}


.inner_scroller{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 1rem;
    padding-block: 1rem;
    justify-content: center;
    align-items: center;
}


.lang-button {
    padding: 10px;
    background: var(--clr-primary-400);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
    transition: background-color 0.3s ease;
}

.lang-button:hover {
    background-color: #2980b9;
}

.scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask:linear-gradient(
        90deg,
        transparent, 
        white 20%,
        white 80%,
        transparent
        );
    mask: linear-gradient(90deg,
        transparent,
        white 20%,
        white 80%,
        transparent);
    
}

.scroller[data-animated="true"] .inner_scroller {
    width: max-content;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
    flex-wrap: nowrap;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 120s;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}
@keyframes scroll{
    to {
            transform: translate(calc(-50% - 0.5rem));
        }


    
}
