h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial;
    color: #333;
}

header {
    padding: 50px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

main form {
    width: 40%;
}

main article {
    width: 45%;
}

h1,
h2,
h3,
h4,
p {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 1em;
    color: #020420;
    font-weight: bold;
}

input,
textarea,
.destination_details button {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #666;
    box-sizing: border-box;
    padding: 0.6rem;
    outline: none;
    border: transparent;
    border-radius: 0.2rem;
}

input,
textarea {
    background-color: #f1f2f9;

}

form button {
    border: none;
    width: 100%;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

form button:hover {
    border: 1px groove rgb(16, 65, 32);
    box-shadow: 0 0 10px #e9ebf1;
}

.card {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
}

#title {
    text-align: center
}

@media screen and (max-width: 600px) {
    header {
        word-wrap: break-word;
    }

    main {
        flex-direction: column-reverse;
    }

    main form {
        width: 100%;
    }

    main article {
        width: 100%;
    }
}